body {
  font-family: "Great Vibes", cursive;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffffff, #4A0072);
}

/* application's css style */
#app { 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* habit tracker page css style */
#habit-tracker {
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}

/* input habit css style */
#habitInput {
  padding: 10px;
  width: calc(100% - 120px);
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* add habit button css */
#addHabitButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* habit list */
#habitList {
  margin-top: 20px;
}

.habit-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button css style */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
  margin-top: 10px;
}

/* ai chat section css */
#ai-chat {
  margin-top: 20px;
  background-color: #ffffffd9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  position: relative;
  z-index: 10;
  width: 100%;   
  min-height: 100px; 
}

/* message container of AI css */
.message-container {
  height: 100px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
}

/* send button of AI css */
#sendButton {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #4a2cd1;
  color: #fff;
  cursor: pointer;
  outline: none;
}

#sendButton:hover {
  background: #000000;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#aiChatBtn, #startAuth {
  position: fixed;
  bottom: 19px;
  right: 19px;
  background-color: #fd8003;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 7px;
  cursor: pointer;
}

#aiChatBtn {
  bottom: 80px;
}

#aiChatBtn:hover, #startAuth:hover {
  background-color: #b30098;
}

#sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

/* sign in button css */
#sign-in-button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #bc783e;
  color: white;
  border: none;
}

#sign-in-button:hover {
  background-color: #a0459e;
}
